.About__Header__Text {
  text-align: center;
}

.About__Header__Text h3 {
  color: grey;
  margin-top: 0.4em;
  font-weight: 500;
}

.About__Show__image {
  width: 100%;
  object-fit: cover;
}

.About__Show__image img {
  object-fit: cover;
}

.DonateFlex {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.donate__space {
  margin: 0;
  border: 1px solid #dcdcdc;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 17px 16px;
  font-size: 14px;
  background: transparent;
  color: #1f0231;
}

.dollar__btn {
  background-color: #3e0563;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 0 0 3px;
  text-align: center;
}

.dollar__btn h1 {
  color: white;
}

.full {
  width: 100%;
}

.Peers li {
  list-style-type: disc;
  margin: 0.6em;
}

/* @media (max-width: 768px){

} */
